{% include 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/scores.css' %}" />
<div class="w3-main" style="margin-left: 300px; margin-top: 43px">
  <header class="w3-container" style="padding-top: 22px">
    <h5>
      <b><i class="fa fa-dashboard"></i> Đổi mật khẩu</b>
    </h5>
  </header>

<div id="container">
<form method="POST" style="padding: 50px; letter-spacing: 100%;">
    {% csrf_token %}
    <p>{{form.as_p}}</p>
    <button type="submit">Save changes</button>
</form>
</div>
{% endblock content %}
