{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VMU-Thông báo</title>
    <link rel="stylesheet" href="{% static 'assets/css/news.css' %}" />
  </head>
  <body>
    <div id="container">
      <div id="menu">
        <h4><a href="{% url 'home' %}">Trang chủ</a></h4>
      </div>
      <h4 class="news_notification">TIN TỨC - THÔNG BÁO</h4>
      <br />
      <div id="content">
        <table>
          <tr>
            <th>Ngày tạo</th>
            <th>Ngày cập nhật</th>
            <th>Tiêu đề</th>
            <th>File đính kèm</th>
          </tr>
          {% for notification in notifications %}
          <tr>
            <td>{{notification.create_date}}</td>
            <td>{{notification.update_date}}</td>
            <td>{{notification.name}}</td>
            <td>
              <a
                href="media/{{notification.file_content}}"
                class="btn"
                btn-primary
                >{{notification.file_content}}</a
              >
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
