{% load static %} {% include 'base.html' %} {% block content %}
<link rel="stylesheet" href="{% static 'assets/css/scores.css' %}" />
<div class="w3-main" style="margin-left: 300px; margin-top: 43px">
  <header class="w3-container" style="padding-top: 22px">
    <h5>
      <b><i class="fa fa-dashboard"></i> BẢNG ĐIỂM</b>
    </h5>
  </header>

  <div id="info">
    <ul>
      {% for information in information_student %}
        <li>Mã học viên: <b>{{information.studis}}</b></li>
        <li>Họ tên: <b>{{information.name}}</b></li>
        <li>Ngày sinh: <b>{{information.date_of_birth}}</b></li>
        {% if infomation.gender == 'M' %}
          <li>Giới tính: <b>Nam</b></li>
        {% else %}
          <li>Giới tính: <b>Nữ</b></li>
        {% endif %} 
        {% for specialization in specializations %}
          <li>Lớp hành chính: <b>{{specialization.name}}</b></li>
        {% endfor %} 
      {% endfor %}
    </ul>
  </div>
  <div id="info">
    <ul>
      <li>TC Tích lũy: <b>119</b></li>
      <li>TBC tích lũy: <b>2.61</b></li>
    </ul>
  </div>

  <!-- # table scores of a student with term I -->
  <div id="scores_table">
    <table style="width: 100%">
      {% for score in scores_1styear_term1 %}
      {% if forloop.counter <= 1 %}
      <tr>
          
            <th colspan="7">{{score.name_year}}, Học kỳ {{score.term}}</th>
          
      </tr>
      <tr>
        <th>Học phần</th>
        <th>TCHT</th>
        <th>Công thức</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
        <th>Điểm chữ</th>
      </tr>
      {% endif %}
      {% endfor %}
      {% for score in scores_1styear_term1%}
        <tr>
          <td style="text-align: left; padding-left: 10px">
            {{score.studies}} - {{score.name_subject}}
          </td>
          <td>{{score.credits}}</td>
          <td>0.5 * X1 + 0.5 * Y1</td>
          <td>{{score.scores_x}}</td>
          <td>{{score.scores_y}}</td>
          <td>{{score.scores_z}}</td>
          <td>{{score.grade}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <!-- # II -->
  <div id="scores_table">
    <table style="width: 100%">
      {% for score in scores_1styear_term2 %}
      {% if forloop.counter <= 1 %}
      <tr>  
          {% if forloop.counter <= 1 %}
            <th colspan="7">{{score.name_year}}, Học kỳ {{score.term}}</th>
          {% endif %}
      </tr>
      <tr>
        <th>Học phần</th>
        <th>TCHT</th>
        <th>Công thức</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
        <th>Điểm chữ</th>
      </tr>
      {% endif %}
      {% endfor %}
      {% for score in scores_1styear_term2%}
        <tr>
          <td style="text-align: left; padding-left: 10px">
            {{score.studies}} - {{score.name_subject}}
          </td>
          <td>{{score.credits}}</td>
          <td>0.5 * X1 + 0.5 * Y1</td>
          <td>{{score.scores_x}}</td>
          <td>{{score.scores_y}}</td>
          <td>{{score.scores_z}}</td>
          <td>{{score.grade}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <!-- III -->
  <div id="scores_table">
    <table style="width: 100%">
      {% for score in scores_2ndyear_term3 %}
      {% if forloop.counter <= 1 %}
      <tr>
          {% if forloop.counter <= 1 %}
            <th colspan="7">{{score.name_year}}, Học kỳ {{score.term}}</th>
          {% endif %}
      </tr>
      <tr>
        <th>Học phần</th>
        <th>TCHT</th>
        <th>Công thức</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
        <th>Điểm chữ</th>
      </tr>
      {% endif %}
      {% endfor %}
      {% for score in scores_2ndyear_term3%}
        <tr>
          <td style="text-align: left; padding-left: 10px">
            {{score.studies}} - {{score.name_subject}}
          </td>
          <td>{{score.credits}}</td>
          <td>0.5 * X1 + 0.5 * Y1</td>
          <td>{{score.scores_x}}</td>
          <td>{{score.scores_y}}</td>
          <td>{{score.scores_z}}</td>
          <td>{{score.grade}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <!-- IV -->
  
  <div id="scores_table">
    <table style="width: 100%">
      {% for score in scores_2ndyear_term4 %}
      {% if forloop.counter <= 1 %}
      <tr>
          {% if forloop.counter <= 1 %}
            <th colspan="7">{{score.name_year}}, Học kỳ {{score.term}}</th>
          {% endif %}
      </tr>
      <tr>
        <th>Học phần</th>
        <th>TCHT</th>
        <th>Công thức</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
        <th>Điểm chữ</th>
      </tr>
      {% endif %}
      {% endfor %}
      {% for score in scores_2ndyear_term4%}
        <tr>
          <td style="text-align: left; padding-left: 10px">
            {{score.studies}} - {{score.name_subject}}
          </td>
          <td>{{score.credits}}</td>
          <td>0.5 * X1 + 0.5 * Y1</td>
          <td>{{score.scores_x}}</td>
          <td>{{score.scores_y}}</td>
          <td>{{score.scores_z}}</td>
          <td>{{score.grade}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <!-- CC -->
  
  <div id="scores_table">
    <table style="width: 100%">
      <tr>
            <th colspan="7">Chứng chỉ & Sát hạch</th>
      </tr>
        <tr>
          <td style="text-align: left; padding-left: 10px"> Ngoại ngữ</td>
          {% for check in check_language %}
          <td>{{check.check_language}}</td>
          {% endfor %}
        </tr>
    </table>
  </div>
</div>
{% endblock content %}
