table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table th {
  background-color: #2196f3;
  color: #fff;
  text-align: center;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table tr:hover {
  background-color: #2196f3;
}
